/* Contenedor principal */
.react-calendar {
  width: 100%;
  max-width: 320px;
  background: #ffffff;
  border: none !important;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Inter', sans-serif;
}

/* Contenedor principal del encabezado */
.react-calendar__navigation {
  background: white !important;
  box-shadow: none !important;
  border-bottom: solid 1px rgba(91, 91, 91, 0.141);
}

/* Elementos internos del encabezado */
.react-calendar__navigation * {
  background: white !important;
  box-shadow: none !important;
}

/* Texto del mes */
.react-calendar__navigation__label {
  background: white !important;
  pointer-events: none !important; /* Evita que se pueda hacer clic */
  font-weight: bold; /* Opcional: resaltar el mes */
  font-size: 1.2rem; /* Ajusta el tamaño del texto si es necesario */
}

/* Botones de navegación */
.react-calendar__navigation button {
  background: none;
  border: none;
  color: #0477AD;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 5px;
  border-radius: 50%;
}

.react-calendar__navigation button:hover {
  background: rgba(4, 119, 173, 0.1);
}

/* Nombres de días */
.react-calendar__month-view__weekdays {
  text-transform: uppercase;
  color: #677073;
  font-size: 0.85rem;
  font-weight: 600;
}

.react-calendar__month-view__weekdays__weekday {
  text-align: center;
}

/* Días del calendario */
.react-calendar__tile {
  text-align: center;
  padding: 10px;
  font-size: 0.9rem;
  color: #3e4345;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.react-calendar__tile:hover {
  background-color: rgba(4, 119, 173, 0.1);
  color: #0477AD;
}

/* Mantener los días sin eventos con fondo normal */
.react-calendar__tile {
  background: white !important; /* Asegura que el fondo sea blanco */
  color: #3e4345 !important; /* Color del texto normal */
}

/* Asegurar que los días sin eventos no cambien de fondo */
.react-calendar__tile:not(.highlighted-date):hover {
  background: none !important;
  color: #3e4345 !important;
}

/* Quitar el fondo gris de los días activos */
.react-calendar__tile--active {
  background: none !important; /* Quita el fondo gris */
  color: inherit !important;
  font-weight: normal !important;
}


/* Día actual */
.react-calendar__tile--now {
  color: #0477AD !important; /* Color del texto */
  font-weight: bold;
  border-radius: 8px; /* Mantener coherencia con los otros días */
}

/* Día resaltado */
.highlighted-date {
  background-color: #0477AD !important;
  color: white !important;
  font-weight: bold;
  border-radius: none !important;
}

.highlighted-date:hover {
  background: #cfe7ff;
}

/* Día activo */
.react-calendar__tile--active {
  background: rgba(4, 119, 173, 0.2);
  color: #0477AD;
  font-weight: bold;
}
